{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Détails du type #{{ type.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ type.title }}</td>
            </tr>
            <tr>
                <th>Coefficient</th>
                <td>{{ type.coefficient }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btnContainer">

        <div class="btn"><div><a href="{{ path('app_type_index') }}">Retour</a></div></div>

        <div class="btn"><div><a href="{{ path('app_type_edit', {'id': type.id}) }}">Modifier</a></div></div>

    </div>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
