{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Voir</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.type }}</td>
                <td class="imgIcon">
                    <a href="{{ path('app_category_show', {'id': category.id}) }}"><img src="{{ asset('img/details.png') }}" width="30px"></a>
                </td>
                <td class="imgIcon">
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}"><img src="{{ asset('img/pen.png') }}" width="30px"></a>
                </td>
                <td class="imgIcon">
                    <a href="{{ path('app_category_delete', {'id': category.id}) }}"><img src="{{ asset('img/garbage.png') }}" width="30px"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de catégorie.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btnContainer">
        <div class="btn"><div><a href="{{ path('app_category_new') }}">Créer une nouvelle catégorie</a></div></div>
    </div>

    <div class="btnContainer">
        <div class="btn"><div><a href="/"><p>Retour</p></a></div></div>
    </div>
{% endblock %}
